.frame-code {
    padding: 10px;
    background: #303030;
    display: none;
    margin-bottom: 20px;
}

@media (min-width: 1000px) {
    .frame-code {
        padding: 20px 40px;
    }
}

.frame-code.active {
    display: block;
}

.frame-code .frame-file {
    color: #a29d9d;
    padding: 12px 6px;
    border-bottom: none;
}

.frame-comments {
    border-top: none;
    margin-top: 15px;
    font-size: 12px;
}

.frame-comments.empty:before {
    content: "No comments for this stack frame.";
    font-weight: 300;
    color: #a29d9d;
}

.frame-comment {
    padding: 10px;
    color: #e3e3e3;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, .05);
}

.frame-comment a {
    font-weight: bold;
    text-decoration: none;
}

.frame-comment a:hover {
    color: #e3b27f;
}

.frame-comment:not(:last-child) {
    border-bottom: 1px dotted rgba(0, 0, 0, .3);
}

.frame-comment-context {
    font-size: 10px;
    color: white;
}

.code-block {
    padding: 15px;
    margin: 0;
    border-radius: 6px;
    box-shadow: 0 3px 0 rgba(0, 0, 0, .05),
    0 10px 30px rgba(0, 0, 0, .05),
    inset 0 0 1px 0 rgba(255, 255, 255, .07);
}

.linenums {
    margin: 0;
    padding: 0;
    list-style: inside decimal-leading-zero;
}

.linenums li {
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #666;
    padding: 0 2px;
}

.linenums li.current {
    color: #888;
    background: rgba(255, 100, 100, .07);
    animation: mild-flash 300ms ease-in-out;
    animation-delay: 100ms;
}

.linenums li.current.active {
    color: #999;
    background: rgba(255, 100, 100, .17);
    animation: flash 300ms ease-in-out;
    animation-delay: 100ms;
}

.linenums code {
    padding-left: 6px;
    border-left: 1px solid #515151;
}

@keyframes flash {
    0%   {background: rgba(255, 100, 100, .17); }
    50%  {background: rgba(255, 100, 100, .30); }
    100% {background: rgba(255, 100, 100, .17); }
}

@keyframes mild-flash {
    0%   {background: rgba(255, 100, 100, .07); }
    50%  {background: rgba(255, 100, 100, .12); }
    100% {background: rgba(255, 100, 100, .07); }
}

pre .str { /* string  */
    color: #83d443;
}

pre .kwd { /* keyword*/
    color: #4bb1b1;
    font-weight: bold;
}

pre .com { /* comment */
    color: #888;
    font-weight: bold;
}

pre .typ { /* type  */
    /*color: #ef7c61;*/
    color: #e9e4e5;
}

pre .lit { /* literal */
    color: #83d443;
}

pre .pun { /* punctuation  */
    color: #fff;
    font-weight: bold;
}

pre .pln { /* plaintext  */
    color: #e9e4e5;
}

pre .tag { /* html/xml tag  */
    color: #4bb1b1;
}

pre .htm { /* html tag */
    color: #dda0dd;
}

pre .xsl { /* xslt tag */
    color: #d0a0d0;
}

pre .atn { /* html/xml attribute name */
    color: #ef7c61;
    font-weight: normal;
}

pre .atv { /* html/xml attribute value  */
    color: #bcd42a;
}

pre .dec { /* decimal  */
    color: #606;
}

pre.prettyprint, code.prettyprint {
    font-family: "Inconsolata", "Fira Mono", "Source Code Pro", Monaco, Consolas, "Lucida Console", monospace;
    background: #333;
    color: #e9e4e5;
}

pre.prettyprint {
    white-space: pre-wrap;
}

pre.prettyprint a, code.prettyprint a {
    text-decoration: none;
}

pre.sf-dump {
    padding: 0 !important;
    margin: 0 !important;
}

@media (max-width: 768px) {
    pre {
        font-size: 10px;
    }
}
